body {
	background: #7f7f84!important;
	width: 100%;
}

/*STYLING NAVBAR*/
#links li {
	margin-right: 10px;
	margin-left: 10px;
}

#myInput {
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
	outline: none;
	font-size: 16px;

}

#myUL {
    /* Remove default list styling */
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    position: absolute;
    min-width: 220px;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 16px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.show {
	display: block;
	margin-left: 28px;
	padding: 0;
	outline: none;
}

#notFound {
	display: none;
	list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    position: absolute;
    min-width: 220px;
    border: 1px solid #ddd;
    color: black;
    background-color: #f6f6f6;

}

/*styling HOME PAGE*/
#indexbg {
	background: white!important;
}
.newtitle {
	height: 200px;
	text-align: center;
	background: white;
	padding-top: 100px;
	width: 100%;
	margin: 0;
	font-size: 40px;
	font-family: 'Fjalla One', sans-serif
}
#vidwrap {
	height: 600px;
	background: white;
}

.column {
	height: 400px;
	background: #d3d3d3;
	margin-top: 50px;
}

.column h2 {
	font-family: 'Fjalla One', sans-serif;
	padding-top: 50px;
}

.column hr {
	width: 100px;
	background: black;
	border: 1px solid black;
}

.column p {
	font-size: 30px;
	font-family: 'Questrial', sans-serif;
	padding: 10px;
}

#emphasize {
	color: #6d6d6d;
}


/*styling of MODELS PAGE*/
.top {
	background: white;
	width: 100%;
	height: 300px;
}

.titlebg {
	background: #7f7f84;
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	/*border: 1px solid pink;*/
}

.title {
	color: white;
	text-align: center;
	margin-top: 20px;
	font-size: 40px;
	font-family: 'Fjalla One', sans-serif;
}

.pagebreak4 {
	height: 80px;
	background: white;
}

/*CARASOUL STYLING*/

/*styling of CAR COLUMNS - - INVENTORY PAGE*/
.modelwrap {
	background: orange;

}
#models {

	/*border: 2px solid black;*/
}

.pagebreak5 {
	background:  #7f7f84;
	height: 30px;
}
.inside {
	background: white;
	height: 740px;
	padding: 10px;
	padding-top: 20px;
	border: 2px solid #7f7f84 ;
}

.carphoto {
	width: 100%;
}

.carname {
	font-family: 'Fjalla One', sans-serif;
	font-size: 35px;
}

.inside hr {
	background: black;
	padding: 0;
	border: 1.5px solid black;
	width: 50px;
	margin-left: 100px;
}

.inside p {
	float: left;
	margin-left: 50px;
	font-family: 'Questrial', sans-serif;
	font-size: 20px;
	padding: 0;
	font-weight: bold;
}

.specswrapper {
	border: 20px solid white;
	width: 100%;
	margin-top: 50px;
}

.specs {
	list-style: none;
	margin-top: 50px;
	margin: auto;
	padding: 0;
	font-size: 20px;
	font-family: 'Questrial', sans-serif;
}

.specs li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: black;
}

.specs li:nth-child(2n) {
	background: #e0e0e0;
}

.specs strong {
	float: left;
}

.specs span {
	margin-right: 60px;
	float: right;
}

.buttonwrapper {
	/*border: 3px solid black;*/
	height: 130px;
}

.designbutton {
	border-radius: 8px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 12px 28px;
    text-decoration: none;
    border: none;
    background-color: #bc1600;
    color: white;
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 10px;
    float: left;
    position: relative;
    border: solid #bc1600;
}

.designbutton:hover {
	background-color: white; /* Green */
    color: black;
    border: solid black;
}

.specsbutton {
	border-radius: 8px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 12px 28px;
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    display: inline-block;
    margin-right: 60px;
    float: right;
    position: relative;
    border: solid black;
}

.specsbutton:hover {
	background-color: black; /* Green */
    color: white;
  	border: solid black;
}
/*End of CAR COLUMNS*/

/* Styling of CAR PAGES*/
.carshowbg {
	background: #fcfcfc!important;
}

#hardtoppic1 {
	width: 100%;
}

.cardescrp {
	height: 100%;
	/*border: 2px solid black;*/
}

.cardescrp h4 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 50px;
}

.cardescrp hr {
	border: 1px solid black;
	background: black;
	width: 400px;
	padding: 0;
}

.cardescrp p {
	font-size: 25px;
	font-family: 'Questrial', sans-serif;
}

.pwrap {
	width: 600px;
	/*border: 2px solid red;*/
	margin-left: auto;
	margin-right: auto;
}
/*GALLERY MODAL STYLING*/
#gallery {
	/*border: 2px solid purple;*/
	height: 200px;
	padding: 50px;
}

#gallerybutton {
	border-radius: 8px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 25px 50px;
    text-decoration: none;
    border: none;
    background-color: #bc1600;
    color: white;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
}
#gallerybutton:hover {
	background-color: white; /* Green */
    color: black;
    border: 2px solid black;
}
.modal-content {
	background-color: #262626!important;
	color: white;
}

.modal-title {
	font-family: 'Fjalla One', sans-serif;
	font-size: 30px;
}

.close {
	color: white!important;
}

/*END OF MODAL STYLING*/

.fullspecs {
	height: 100%x;
	/*border: 2px solid red;*/
}

.fullspecs h3 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 25px;

}

.fullspecs hr {
	background: black;
	border: 1px solid black;
	width: 100px;
	margin-left: 0px;

}

.fullspecs h4 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 45px;
}

.fullspecs ul {
	float: right;
	display: inline;
}

.fullspecs li {
	display: inline;
	border: 2px solid pink;

}

.fullspecs img {
	width: 100px;
	height: 100px;
}
/*PAGE BREAKS STYLING*/

.pagebreak {
	background: #181819;
	color: white;
	height: 100%;
}

.pagebreak ul {
	list-style: none;

}

.pagebreak li {
	display: inline-block;
	padding: 20px;

}

.pagebreak2 {
	background: #7f7f84;
	height: 80px
}

.pagebreak3 {
	background: #fcfcfc;
	height: 80px
}
/*TABLE STYLING*/

#tablehead {
	background: black;
	color: white;
	width: 100%;
	height: 100px;
	padding-left: 20px;

}

#tablespecs {
	font-family: 'Questrial', sans-serif;
	font-size: 18px;
}

#tablespecs tr td {
	padding: 20px;
}

#tablespecs tr:nth-child(2n) {
	background: #e0e0e0;
}

.tabledata {
	border-right: 1px solid #b7b7b7;
	padding-right: 20px;
	padding-left: 10px;
}

.hightlight {
	color: #707070;
}
/*TAX CALCULATORY STYLING*/

.taxcalc {
	height: 100%;
	/*border: 2px solid green;*/
	padding: 20px;
	background: #e0e0e0;
	border: 15px solid white;
}

.bold {
	font-weight: bold;
	width: 800px;
}

.taxcalc hr {
	background: black;
	border: 1px solid black;
	width: 100px;
	margin-left: 0px;

}

.taxcalc h4 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 45px;
}

.taxcalc p {
	font-size: 25px;
	font-family: 'Questrial', sans-serif;
	padding: 20px;
}

.taxcalc input {
	width: 150px;
	height: 50px;
	font-size: 18px;
	padding: 10px;
}
#taxoutput {
	font-weight: bold;
	font-size: 80px;
	float: right;
	margin-right: 65px;
	margin-top: -40px;
}

.gettaxrate {
	border-radius: 8px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 12px 28px;
    text-decoration: none;
    border: none;
    background-color: #bc1600;
    color: white;
    border: solid #bc1600;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    margin-top: 20px;
}

.gettaxrate:hover {
	background-color: white; /* Green */
    color: black;
    border: solid black;
}

/*STYLING CONTACT PAGE*/
form {
	margin: 20px;
	padding-bottom: 100px;
}
.form {
	font-family: 'Questrial', sans-serif;
    font-size: 18px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#form h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 40px;
}

#form hr {
	width: 140px;
	background: black;
	border: 1px solid black;
}

#form p {
	font-family: 'Questrial', sans-serif;
    font-size: 24px;
    padding: 10px;
}

.option {
	font-family: 'Questrial', sans-serif;
	font-size: 20px;
    padding: 10px;
    font-weight: bold
    width: 300px;
}

.form {
	padding: 20px;
	font-weight: bold;
}

.form input {
	width: 300px;
}
.form div {
	margin-right: 220px;
}

.form textarea {
	width: 300px;
	height: 150px;
}

/*STYLING ABOUT PAGE*/
#topimg {
	width: 100%;
	border-bottom: 8px solid black
}

#history h1 {
	background: white;
	height: 80px;
	margin-top: 20px;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 40px;
}

#historycolumn {
	background: #e0e0e0;
	border: 10px solid white;
	padding: 30px;
}

#historycolumn img {
	width: 500px;
	height: 400px;
	float: left;
	padding-right: 30px;
}
#historycolumn h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 40px;
}
#historycolumn p {
	font-family: 'Questrial', sans-serif;
	font-size: 18px;
	
}

#historycolumn hr {
	background: black;
	border: 2px solid black;
	width: 100px;
	margin-left: 50px;
	
}
/*FOOTER STYLING*/
.footer {
	background: black;
	color: white;
	height: 100%;
	position: relative;
	left: 0;
    bottom: 0;
}

.footer p {
	padding: 30px;
}

/*FONTS*/
/*font-family: 'Asap Condensed', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Questrial', sans-serif;*/
